@media screen and (max-width:951px) {
    #p1{
        margin-top: 13vh;
     font-size: 6vw;

    }
    #p2{
        font-size: 3.4vw;
    }
    #p3{
    font-size: 2vw;
    }
    .navbar button{
        width: 9vw;
         font-size:2vw;
        }
    .g{ font-size: 1.4vw;}

}
@media screen and (max-width:725px) {
    #p1{
        margin-top: 13vh;
     font-size: 8vw;

    }
    #p2{
        font-size: 4.4vw;
    }
    #p3{
        color: white;
        font-size: 3vw;
    }
    .navbar button{
        width: 9vw;
         font-size:2vw;
        }
        .b{
            width: 45vw;
        }
    .g{width:16vw;
        font-size: 2vw;}
    }
@media screen and (max-width:605px){
    #p1{
        margin-top: 13vh;
     font-size: 10vw;

    }
    #p2{
        font-size: 4.6vw;
    }
    #p3{
    margin-top: 1.2em;
    font-size: 3.2vw;
    }
   .g{width:24vw;
        font-size: 2.6vw;}
    }
@media screen  and (max-width:425px) {
    #p1{
        margin-top: 19vh;
    }
    .navbar button{
        width: 14vw;
        font-size:2.7vw;
    }
}


